<div class="bg2"><h1>Articles</h1></div>
<section>
  <div class="container wrapper">
    <div class="flex">
      <% @posts.each do |post| %>
        <section class="post">
          <%= image_tag post.image.url if post.image? %>
          <h2><%= post.title %></h2>
          <%= link_to("記事をみる","/posts/#{post.id}",class: "border") %>
        </section>
      <% end %>
      
      <% if @posts.length > 6 %>
      <%= link_to("次ページへ","/posts/index") %>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
</section>